<% form_for @user do |f| %>
	<table>
		<tr>
			<td>Login</td>
			<td><%= f.text_field :login %></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><%= password_field_tag :password %></td>
		</tr>
		<tr>
			<td>Confirm Password</td>
			<td><%= password_field_tag :confirm_password %></td>
		</tr>
		<tr>
			<td>First Name</td>
			<td><%= f.text_field :first_name %></td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td><%= f.text_field :last_name %></td>
		</tr>
	</table>
		<p>
			<label for='user_access'>Access</label>
			<%= f.select 	:access, ['Global', 'Carrier', 'Winery'], {:prompt => "Choose One"}, 
							:onchange => remote_function(:url => {:action => :find_access}, 
							:with => "'value=' + value") %>
		</p>
		<div id="user_options">
			
		</div>
		<p>
			<%= f.submit button_name %>
		</p>
<% end %>