<table>
	<tr>
		<th>Name</th>
		<th>Login</th>
		<th>Email</th>
		<th>Access Type</th>
		<th width=150px>Access To</th>
	</tr>
	<tr valign='top'>
		<td><%=h @user.full_name %></td>
		<td><%=h @user.login %></td>
		<td><%=h @user.email %></td>
		<td><%=h @user.access %></td>
		<td><%=h user_has_access_to(@user) %></td>
	</tr>
</table>