<div id="nav_menu">
	<span id="archive">
		<% if current_page?(home_shipments_path(@current_user)) || (controller.controller_name == 'shipments' && controller.action_name == 'archive') %>
			<%= render :partial => 'shared/archive_nav' %>
		<% end %>
	</span>
	<table>
		<tr>
			<td class="<%= current_page?(home_shipments_path(@current_user)) ? 'tab' : 'back' %>">
						<%= link_to_unless_current "Home", home_shipments_path(@current_user) %></td>
			<% unless @current_user.access == 'Carrier' %>
				<td class="<%= current_page?(new_shipment_path) ? 'tab' : 'back' %>">
							<%= link_to_unless_current "Ship Wine", new_shipment_path %></td>
			<% end %>
			<% unless @current_user.access == 'Global' %>
			<td class="<%= current_page?(user_path(@current_user)) ? 'tab' : 'back' %>">
						<%= link_to_unless_current "View Profile", user_path(@current_user) %></td>
			<% else %>
			<td class="<%= current_page?(users_path) ? 'tab' : 'back' %>">
						<%= link_to_unless_current "Manage Users", users_path %></td>
			<td class="<%= current_page?(wineries_path) ? 'tab' : 'back' %>">
						<%= link_to_unless_current "Manage Wineries", wineries_path %></td>
			<td class="<%= current_page?(shippers_path) ? 'tab' : 'back' %>">
						<%= link_to_unless_current "Manage Carriers", shippers_path %></td>
			<% end %>
		</tr>
	</table>
</div>