<%= error_messages_for :winery %>
<% form_remote_for @winery, :html => {:id => 'new_winery_form'},
									:loading => "Element.show('spinner')",
									:complete => "Element.hide('spinner')" do |f| %>
	<table>
		<tr>
			<td align='right'>Name</td>
			<td colspan=2><%= f.text_field :name, :size => 24 %></td>
			<td align='right'>Bond</td>
			<td><%= f.text_field :bond, :size => 8 %></td>
		</tr>

		<tr>
			<td align='right'>Address</td>
			<td colspan=2><%= f.text_field :address_line_1, :size => 24 %></td>
			<td>&nbsp;</td>
			<td>e.g. "1234"</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan=2><%= f.text_field :address_line_2, :size => 24 %></td>
		</tr>
		<tr>
			<td align='right'>City</td>
			<td colspan=2><%= f.text_field :city, :size => 24 %></td>
		</tr>
		<tr>
			<td align='right'>State</td>
			<td colspan=2><%= f.state_select(:state) %></td>
		</tr>
		<tr>
			<td align='right'>Zip Code</td>
			<td><%= f.text_field :zip, :size => 8 %></td>
			<td align='left'><%= f.submit 'New Winery' %></td>
		</tr>
	</table>
<% end %>