<% @page_title = "Winery Admin" %>
<div id="create_new_link"><%= link_to "New Winery", new_winery_path %></div><br /><br />
<table class='sortable'>
	<tr>
		<th>Name</th>
		<th>Bond</th>
		<th>City</th>
		<th>State</th>
		<th class='sorttable_nosort'>Addresss</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	<% @wineries.each do |winery| %>
		<tr class='lined'>
			<td valign='top'><%=h winery.name %></td>
			<td valign='top'><%=h "BW-" + winery.state.upcase + "-" + winery.bond %></td>
			<td valign='top'><%=h winery.city %></td>
			<td valign='top'><%=h winery.state %></td>
			<td><%= winery.mailing_address %></td>
			<td><%= link_to "edit", edit_winery_path(winery) %></td>
			<td><%= link_to "x", winery_path(winery), 
					:confirm => "Are you sure you want to permantently delete #{winery.name}?", :method => 'delete' %></td>
		</tr>
	<% end %>
</table>
