<%= calendar_date_select_includes "plain" %>
<div id="new_ajax_winery_form", style="display:none;">
	<%= render :partial => 'shared/new_winery_form' %>
</div>
<div id="shipment_form">
	<% form_tag @shipment_url, @method do %>
	<div id="wineries_form">
		<%= render :partial => 'shared/shipment_wineries_form' %>
	</div>
	<table>
			<tr>
				<td align='right', width='86px'>Date</td>
				<td colspan=2><%= calendar_date_select_tag('shipment[ship_date]', @shipment.ship_date, {:size => 17, :year_range => (Time.now.year..(Time.now.year + 1))}) %></td>
			</tr>
			<tr>
				<td align='right'>Wine</td>
				<td colspan=2><%= text_field_tag('shipment[wine]', @shipment.wine, :size => 20) %></td>
			</tr>
			<tr>
				<td align='right'>Carrier</td>
				<td colspan=2><%= collection_select :shipment, :shipper_id, @shippers, :id, :name, { :include_blank => true } %></td>
			</tr>
			<tr>
				<td align='right'>Loads</td>
				<td colspan=2><%= select :shipment, :loads, (1..12) %></td>
			</tr>
			<tr>
				<td align='right'>Gals / Load</td>
				<td><%= text_field_tag('shipment[gals_per_load]', @shipment.gals_per_load, :size => 4) %></td>	
				<td align='right'><%= submit_tag button_name %></td>
			</tr>
		</table>
	<% end %>
</div>