<table>
	<tr>
		<th>Date</th>
		<th>From</th>
		<th>To</th>
		<th>Wine</th>
		<th>Loads</th>
		<th>Total Gals</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	<% @shipments.each do |shipment| -%>
		<tr>
			<td><%=h remove_zeros_from_date(shipment.ship_date.strftime("*%m/*%d/%y")) %></td>
			<td><%=h shipment.from_winery.name %></td>
			<td><%=h shipment.to_winery.name %></td>
			<td><%=h shipment.wine %></td>
			<td><%=h shipment.loads %></td>
			<td><%=h number_with_delimiter(shipment.loads * shipment.gals_per_load) %></td>
			<td><strong>Shipped?</strong><%= check_box_tag :shipment, :is_shipped %></td>
			<td><%= link_to "Edit", edit_shipment_path(shipment) %></td>
			<td><%= link_to "Ship More", additional_shipment_path(shipment) %></td>
			<td><%= link_to "Delete", shipment_path(shipment), 
										:confirm => "Are you sure you want to permanently delete this shipment?",
										:method => 'delete' %></td>
		</tr>
	<% end -%>
</table>