<table>
	<tr>
		<th>Date</th>
		<th>From</th>
		<th>To</th>
		<th>Carrier</th>
		<th>Wine</th>
		<th>Loads</th>
		<th>Total Gals</th>
		<th width=71px>&nbsp;</th>
		<th>&nbsp;</th>
		<th align='right', colspan=2><%= link_to_function "[hide]", hide_element %></th>
	</tr>
		<tr>
			<td><%=h remove_zeros_from_date(@shipment.ship_date.strftime("*%m/*%d/%y")) %></td>
			<td><%=h @shipment.from_winery.name %></td>
			<td><%=h @shipment.to_winery.name %></td>
			<td><%=h @shipment.shipper.brief_name %></td>
			<td><%=h @shipment.wine %></td>
			<td><%=h @shipment.loads %></td>
			<td><%=h number_with_delimiter(@shipment.loads * @shipment.gals_per_load) %></td>
			<td class='no_pad'>Done?<%= check_box_tag 'shipment[is_shipped]', "1", @shipment.is_shipped,
			 								:onclick => toggle_value(@shipment) %>
										<%= image_tag "ajax-loader.gif", :id => "spinner-#{@shipment.id}"	,
													:style => "display:none;" %></td>
			<% if @current_user.wineries.collect {|w| w.id}.include?(@shipment.to_winery.id) || @current_user.access == 'Global' %>
				<td><%= link_to "ship more", additional_shipment_path(@shipment) %></td>
				<td><%= link_to "edit", edit_shipment_path(@shipment) %></td>
				<td><%= link_to "x", shipment_path(@shipment), 
						:confirm => "Are you sure you want to permanently delete this shipment?", :method => :delete %></td>
			<% end %>			
		</tr>
</table>