<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  	<%= stylesheet_link_tag("style.css") %>
	<%= javascript_include_tag :defaults %>
	<title><%= @page_title.nil? ? "Shipping" : "Shipping :: #{@page_title}" %></title>
</head>
<body>
	<div id="content">
		<div id="header">
			<%= render :partial => 'shared/header' %>
		</div>
		<%= render :partial => 'shared/nav_menu' %>
		<div id="yield">
			<%= yield %>
		</div>
	</div>
</body>